@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

.wallet-adapter-button-trigger {
  background: #5a67d8 !important;
  border-radius: 9999px !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-weight: 600 !important;
  color: white !important;
  transition: background-color 0.3s ease;
}

.wallet-adapter-button-trigger:hover {
  background: #4c51bf !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
